html{
    font-size: 16px;
    box-sizing: border-box;
}

*,
::after,
::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #FDF2E9;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/*Header*/
.header{
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2{
    margin: 0;
    font-size: 28px;
}

.nav-bar ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.nav-bar a{
    font-size: 16px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

/* Hero image */

.hero-img{
    background-image: url(assets/Paisajes_verdes08.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-inline: 16px;
    padding: 60px;
    display: flex;
    border-radius: 20px;
    color: #FDF2E9;
}

.hero-container{
    width:70%;
}
.hero-container h1{
    margin: 0;
    margin-top: 16px;
    font-size: 82px;
    font-weight: 600;
    color: #FEF5E7;
}

.hero-container p{
    font-size: 20px;
}

.hero-container button{
    margin-top: 40px;
    padding: 14px 60px;
    border: none;
    border-radius: 20px;
    background-color: #FDF2E9;
    cursor:pointer;
    font-weight: 700;
}

.benefits{
    max-width: 80%;
    margin: 0 auto;
}

.benefits h3{
    margin: 0;
    margin-top: 75px;
    font-size: 50px;
    text-align: center;
}

.benefits > p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.benefits-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:25px;
}

.benefits-card{
    max-width: 250px;
    text-align: center;
}

.benefits-card h5{
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 18px;
}


.svg-container{
    padding: 5px;
    display: inline-block;
    background-color: #ECF0F1;
    border-radius: 50%;
}

/* Options tour */

.options-tour{
    max-width: 90%;
    margin: 0 auto;
}

.options-tour h3{
    margin-top: 75px;
    font-size: 50px;
}

.options-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-card {
    width: 240px;
    height: 340px;
    border: 1px solid #CACFD2;
    border-radius: 20px;
}

.img-card{
    height: 75%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-card p{
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline;
    background-color: rgba(200, 200, 200, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 40%;
    color: white;
    font-weight: 500;
    text-align: center;
}

.info-card{
    padding:12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-card h5{
    font-size: 15px;
    margin: 0;
}

.info-card p{
    margin-block: 10px;
}

.info-card button{
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.see-all{
    padding: 16px 55px;
    display: block;
    margin: 40px auto 80px auto;
    background-color: transparent;
    border: 1px solid #464141;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* Paralax Section */

.paralax-img{
    max-width: 90%;
    margin: 0 auto 100px auto;
    padding: 50px;
    background-image: url(assets/faro-azores.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content:space-between ;
    height: 80vh;
    border-radius: 30px;
    color: #FDF2E9;
}

.container-info{
    max-width: 35%;
}

.container-info h3{
    font-size: 70px;
    margin: 0;
}

.transparent-background{
    width: 40%;
    height: 70%;
    margin-top: 45px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #E5E7E9;
    border-radius: 20px;
}

.transparent-background p{
    max-width: 40%;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-align: center;
}

/*Blog Section */

.blog-section{
    width: 90%;
    margin: 0 auto;
}

.blog-info{
    display: flex;
    justify-content: space-between;
}

.blog-info h3{
    margin: 0;
    font-size: 60px;
}
.blog-info .p-info{
    max-width: 50%;
}

.p-info button{
    padding: 16px 45px;
    margin-top: 30px;
    display: block;
    background-color: transparent;
    border: 1px solid #464141;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.blog-articles{
    height: 100vh;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.article-left{
    width: 45%;
    height: 100vh;
    border: 1px solid #CACFD2;
    border-radius: 20px;
}

.article-img{
    height: 85%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.article-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-img p{
    margin: 0;
    padding: 8px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.article-info{
    padding:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-info h5{
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
}

.article-info span{
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    background-color: rgba(90, 90, 90, 0.1);
    border-radius: 30px;
}

.article-info button{
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.right-articles{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-articles article{
    border: 1px solid #CACFD2;
    border-radius: 20px;
    height: 45%;
}
.right-articles article .article-img{
    height: 65%;
}

/*Img section*/

.img-sec{
    height: 70vh;
    width: 90%;
    margin: 95px auto 0 auto;
    background-image: url(assets/paisaje-azores.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.img-container{
    max-width: 50%;
    text-align: center;
}

.img-sec h2{
    font-size: 60px;
    color:#FDF2E9;
    margin: 0;
    margin-bottom: 20px;
}

.img-sec button{
    padding: 16px 45px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* Footer */

.footer{
    margin-inline: 16px;
    margin-top: 100px;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.up{
    display: flex;
    justify-content: space-between;
}

.up .left{
    max-width: 20%;
}

.up .left h4{
    margin: 0;
    font-size: 22px;
}

.up .right{
    display: flex;
    gap: 40px;
}

.right ul li{
    margin-bottom: 10px;
}

.right li strong{
    font-size: 17px;
}

.cp-sec{
    display: flex;
    justify-content: space-between;
}

.social-media{
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
}